body{
  background:url('http://www.macmonkies.com/Desktops/Blue_Wave_1_1280.jpg');
  background-repeat:no-repeat;
  background-size:cover;
}
h1{
  text-align:center;
  color:white;
  font-size:6rem;
  margin:0;
}
li{
  list-style:none;
}
.whole-board{
  margin-left:-1rem;
}

.category-column{
  padding-left:0;
  display:inline-block;
  vertical-align:top;
}
.category-title{
  color:white;
  background:#0108A1;
  border:2px solid black;
  text-align:center;
  padding:1rem;
}
.points{
  box-shadow: 0px 10px 23px 0px rgba(0,0,0,0.75);
  font-size:2.7rem;
  color:#E49758;
  background:#0108A1;
  border:2px solid black;
  padding:1rem;
  text-align:center;
  margin-bottom:1rem;
  transition: transform .3s ease-in-out;
  &:hover{
    transform:scale(1.1);
  }
}
.empty-points{
  box-shadow: 0px 10px 23px 0px rgba(0,0,0,0.75);
  background:#0108A1;
  border:2px solid black;
  text-align:center;
  margin-bottom:1rem;
  padding:40px;
}
.point-list{
  padding-left:0;
}
.modal{
  font-size: 2rem;
position: absolute;
background: rgba(0, 0, 0, 0.3);
top: 6rem;
left: 1rem;
padding-right: 23rem;
padding-left: 25rem;
padding-top: 9rem;
padding-bottom: 5rem;
  }
  .question{
    color:#E49758;
    background: black;
    text-align: center;
    padding: 2rem;
    border-radius: 25px;
    color: white;
    margin-top: 6rem;
padding: 5rem;
  }
  .my-points{
    background:#0108A1;
    color:#E49758;
    border: 2px solid black;
margin-left: 2rem;
margin-right: 0;
span{
  color:white;
  display: inline-block;
padding-left: 2rem;
border-right: 2px solid black;
padding-right: 9rem;
line-height: 4rem;
font-size: 2rem;
}
span:last-of-type{
  border-right:none;
}
  }
